@import './mixins.scss';

form {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    #task-input {
        width: 100%;
        background: var(--bg-primary);
        border: none;
        border-radius: .25rem;
        padding: 1.125rem 1.375rem 1.125rem 4.25rem;
        font-size: clamp(.875rem, 3vw, 1.125rem);
        color: var(--text-primary);
        transition: .2s;

        &.input-error {
            outline: 4px solid var(--error);
            color: var(--error);
            transition: .2s;
        }
    }

    .task-input-decorative-circle {
        @include inputSize;
        border: 1px solid var(--input-border);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        transition: .2s;
    }
}