@import './variables.scss';
@import '../node_modules/naiden-css-reset/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background: $very-dark-blue;
}

// temporary
li {
    cursor: pointer;
}

li:active {
    cursor: move;
}

@import './header.scss'