@import './variables.scss';
@import '../node_modules/naiden-css-reset/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background: var(--bg-secondary);
}

main {
    max-width: 600px;
    margin: -9.125rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 1.5rem;
}

@media screen and (min-width: 600px) {
    main {
        padding: 2.5rem 0;        
    }

    .main-container {
        padding: 0 3rem;
    }
}

// temporary
li {
    cursor: pointer;
}

li:active {
    cursor: move;
}

@import './header.scss';
@import './form.scss';
@import './tasks.scss';